# Node.js

node_modules/

# npm

npm-debug.log*  
yarn-debug.log*  
yarn-error.log*  
pnpm-debug.log*
package-lock.json

# Logs and databases
  
*.log  
*.sqlite  
*.sqlite3  
*.db 

# Dependencias de desarrollo

.env
.env.*
!.env.example

# Archivos de construcción

build/  
dist/  
out/  
build-output/
.next/
.cache/
.vite/
.turbo/

# Archivos de configuración de editor

.vscode/
.idea/
*.iml

# Eslint / Prettier

.eslintcache

# Misc

*.pid
*.seed

# TypeScript

*.tsbuildinfo

#Coverage / Tests

coverage/

# Archivos de sistema

.DS_Store
Thumbs.db